# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Transient uploads
CV Lab 05/Bonus Task/uploads/*
!CV Lab 05/Bonus Task/uploads/.gitkeep

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.env
